#option-board {
    height: 50px;
    width: 500px;
    margin: 25px auto 0;
    position: relative;
}

#option-board div.option-tile {
    position: absolute;
    font-weight: 100;
    margin: 0;
    padding: 0;
    font-size: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Architects Daughter', cursive;
    border-radius: 5px;
    background: #666;
    box-shadow: 0 1px 2px #ccc;
    transform: rotate(-16deg);
}

#option-board div.option-tile:hover {
    cursor: pointer;
    background-color: #333;
    box-shadow: inset 0 1px 1px rgba(151, 255, 255, 0.075), 0 0 25px rgba(151, 255, 255, 0.6);
}

.option-tile-1 {
    left: -2%;
}

.option-tile-2 {
    left: 10%;
    top: 17%;
}

.option-tile-3 {
    left: 22%;
    top: 29%;
}

.option-tile-4 {
    left: 34%;
    top: 21%;
}

.option-tile-5 {
    left: 46%;
    top: -7%;
}

.option-tile-6 {
    left: 58%;
    top: 7%;
}

.option-tile-7 {
    left: 70%;
    top: -8%;
}

.option-tile-8 {
    left: 82%;
    top: 14%;
}

.option-tile-9 {
    left: 94%;
}
